.container {
	background-color: #f6f8fa;
	border-radius: 6px;
	padding: 10px;
	font-family: monospace;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow-x: auto;
	border: 1px solid #d0d7de;
	color: #525e6e;
}

@media screen and (min-width: 900px) {
	.container {
		min-width: 350px;
	}
}

.command {
	user-select: all;
	display: inline-flex;
	align-items: center;
}

.prefix {
	color: #999;
	user-select: none;
	margin-right: 0.25em;
}

.copyButton {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0.25em;
}
